<div class="palm-page-header">
    <div class="palm-page-header-wrapper">
        <div id="dialogTitle" class="title">Preferences</div>
    </div>
</div>

<div class="palm-group">
    <div id="applicationSettings" class="palm-group-title">Application Settings</div>
   	<div class="palm-list">
        <div class="palm-row first">
            <div class="palm-row-wrapper">
                <div x-mojo-element="ToggleButton" id="freeRotationToggle"></div>
                <div id="allowLandscape" class="title">Allow Landscape</div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div x-mojo-element="ToggleButton" id="autoUpdateToggle"></div>
                <div id="autoUpdate" class="title">Auto Update</div>
            </div>
        </div>
        <div id="updateIntervalDiv">
            <div class="palm-row">
                <div class="palm-row-wrapper">
                    <div x-mojo-element="ListSelector" id="updateTypeList"></div>
                </div>
            </div>
            <div id="intervalH" class="palm-row">
                <div class="palm-row-wrapper">
                    <div x-mojo-element="ListSelector" id="updateIntervalList"></div>
                </div>
            </div>
            <div id="intervalW" class="palm-row">
                <div class="palm-row-wrapper">
                    <div x-mojo-element="ListSelector" id="updateDayList"></div>
                </div>
            </div>
            <div id="intervalD" class="palm-row">
                <div class="palm-row-wrapper">
                    <div x-mojo-element="TimePicker" id="timePicker"></div>
                </div>
            </div>
        </div>
        <div id="wifiToggleDiv" class="palm-row">
            <div class="palm-row-wrapper">
                <div x-mojo-element="ToggleButton" id="wifiToggle"></div>
                <div id="enableWifi" class="title">Enable Wifi</div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div x-mojo-element="ToggleButton" id="playbackDashboardToggle"></div>
                <div id="playbackDashboard" class="title">Dashboard Ctrls</div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div x-mojo-element="ToggleButton" id="useMetrixToggle"></div>
                <div id="useMetrix" class="title">Statistics</div>
            </div>
        </div>
        <div class="palm-row last">
            <div class="palm-row-wrapper">
                <div x-mojo-element="ToggleButton" id="limitToWifiToggle"></div>
                <div id="limitToWifi" class="title">DL only over WiFi</div>
            </div>
        </div>
    </div>
</div>
<div class="palm-group">
    <div id="feedListSettings" class="palm-group-title">Feed List Settings</div>
    <div class="palm-list">
        <div class="palm-row first">
            <div class="palm-row-wrapper">
                <div x-mojo-element="ToggleButton" id="albumArtToggle"></div>
                <div id="albumArt" class="title">Show Album Art</div>
            </div>
        </div>
        <div class="palm-row last">
            <div class="palm-row-wrapper">
                <div x-mojo-element="ToggleButton" id="simpleToggle"></div>
                <div id="simple" class="title">Show Feed Details</div>
            </div>
        </div>
    </div>
</div>
<div class="palm-group">
    <div id="episodeListSettings" class="palm-group-title">Episode List Settings</div>
   	<div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper">
                <div x-mojo-element="ToggleButton" id="singleTapToggle"></div>
                <div id="singleTap" class="title">Enable Single Tap</div>
            </div>
        </div>
    </div>
</div>
<div class="palm-group">
    <div id="advancedSettings" class="palm-group-title">Advanced Settings</div>
   	<div class="palm-list">
        <div class="palm-row first">
            <div class="palm-row-wrapper">
                <div x-mojo-element="ListSelector" id="transitionList"></div>
            </div>
        </div>
        <div class="palm-row last">
            <div class="palm-row-wrapper">
                <div x-mojo-element="ListSelector" id="translationList"></div>
            </div>
        </div>
    </div>
</div>
