
<div id="episodeViewScene">
	<div id="topContent" class="topContent">
		<div id="header" class="palm-page-header multi-line">
			<div class="palm-page-header-wrapper">
				<div id="episodeDetailsTitle" class="title left">
				</div>
			</div>
		</div>

		<div id="progress-info" class="stream-info">
			<div id="playback-progress" class="elapsed">00:00</div>
			<div id="progress" x-mojo-element="ProgressSlider" class="stream-buffer-bar portrait"></div>
			<div id="playback-remaining" class="duration">00:00</div>
			<div id="statusDiv" class="playbackStatusMessage" style="display:none;"></div>
		</div>
	</div>

	<div id="topSpacer"></div>

	<div id="descriptionFade" class="scene-fade-top" x-mojo-scroll-fade="top"></div>

	<div id="episodeDetailsDescription" class="palm-body-text"></div>
</div>
