<div class="palm-row" x-mojo-tap-highlight="momentary">
	<div class="palm-row-wrapper">
    	<div id="statusIcon" class="episodeStatus icon right"
			 style="background-image: url('images/#{statusIcon}')"></div>
		<div x-mojo-element="Spinner" class="right" name="episodeSpinner"></div>
		<div id="progressDiv" class="progressDone truncating-text" style="width: #{downloadingPercent}%">&nbsp;</div>
		<div id="bookmarkDiv" class="bookmarkDone truncating-text" style="width: #{bookmarkPercent}%">&nbsp;</div>
		<div class="episodeLine">
			<div class="episodeTitle truncating-text" style="color: #{indicatorColor}">#{titleFormatted}</div>
			<div class="episodeDetails truncating-text" style="color: #{indicatorColor}">#{pubDateFormatted}</div>
		</div>
	</div>
</div>
