<div class="palm-scene">
	<div class="whole-scene-fade-top" x-mojo-scroll-fade="top"></div>
	<div class="whole-scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
		
	<div class="van-page-header multi-line">
		<div class="icon multi-line"></div>
		<div id="title" class="title"></div>
		<div class="subtitle">Version <span id="version-number"></span> by <div id="vendorname"></div></div>
	</div>

	<div id='MyListContainer'>
		<div id="AppHelp_list" x-mojo-element="List" >
		</div>
	</div>

	<div id='MyListContainer'>
		<div id="AppSupport_list" x-mojo-element="List" >
		</div>
	</div>
	
        <div class="palm-text-wrapper">
            <div id="copywritedetail"></div>
	</div>
</div>