<div class="dashboard-notification-module music-player">
  <div class="palm-dashboard-controls-container">
    <div id="prev" class="control-button previous"></div>
    <div id="play" style="display: #{showPlay}" class="control-button play"></div>
    <div id="pause" style="display: #{showPause}" class="control-button pause"></div>
    <div id="next" class="control-button next"></div>
  </div>
  <div class="palm-dashboard-text-container">
    <div id="episode-title" class="dashboard-title">
      #{episodeTitle}
    </div>
    <div id="playbackStatus" class="palm-dashboard-text">#{playbackStatus}</div>
  </div>
  <!--div class="album-art-container">
    <div style='background: url("#{albumArtUrl}") top left no-repeat' class="album-art"></div>
    <div class="album-art-overlay"></div>
  </div-->
</div>
